

body {
	margin:0;
	padding:0;
	background-color: lightgrey;
}

#container {
	width: 875px;
	margin: auto;

}

#big_pic {
	height: 315px;
	/*background-image:url('./archie_top_crop.jpg');*/
	z-index:-1;
	width:875px;
	background-image: url(top_archie_crop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color:green;
}

ul li {
	list-style-image: none;
	 display: inline; 
	 width: 400px;
}

#butts {

	float:right;
	/*margin-right: 50px;*/
}

#topper {
	background-color:  #5578ac;
	height: 50px;
	padding: 10px;
	border: 1px solid black;
}

#friends {
	margin-top:20px;
	background-color:white;
	border: 1px solid black;
	width:100%;
	height:3750px;
}

#search {

	width: 800px;
	margin: auto;
	border-radius: 3px;
	border: 1px solid grey;
	background-color: white;
	padding:5px;
}

#info {
	/*width:100%;*/
	border: 1px solid black;
	background-color:white;
}

#inset {
	border: 1px solid black;
	padding: 3px;
	margin-top: -110px;
	margin-left: 30px;
	float:left;
	z-index:-2;
}

#name_plate {
	
	
	margin-left: 30%;
	
}

.img {
	border 2px solid black;
	padding: 3px;
	margin: auto;
	/*height: 185px;*/
}

.dog_name  {
	float: right;
	margin-right: 50px;
}
/*.female .dog_name {
	float: left;
}*/

.male, .female {
	/*width: 400px;*/
	width:46%;
	margin: 10px;
	height:180px;
	/*border: 1px solid black;*/
}

#bitches li {

text-align:  right;
margin-right: 40px;
}
.clear { clear:both;}


div .male {
background-color: #5578ac;
float: left;
}

div .female {
background-color: lightpink;
float: right;
}

div .male .switched {
background-color: #5578ac;
float: right;
}

div .female .switched {
background-color: lightpink;
float: left;
}




