
body {
	margin:0;
	padding:0;
	/*background-color: lightgrey;*/
}

#container {
	width: 875px;
	margin: auto;

}

#big_pic {
	height: 315px;
	background-image:url('archie_top_crop');
	z-index:-1;
}

#topper {
	background-color: lightblue;
	height: 50px;
	padding: 10px;
	border: 1px solid black;
}

#friends {
	margin-top:20px;
	background-color:white;
	border: 1px solid black;
	width:100%;
}

#search {

	width: 800px;
	margin: auto;
	border-radius: 3px;
	border: 1px solid grey;
	background-color: white;
	padding:5px;
}

#info {
	/*width:100%;*/
	border: 1px solid black;
	background-color:white;
}

#inset {
	border: 1px solid black;
	padding: 3px;
	margin-top: -140px;
	margin-left: 30px;
	float:left;
	z-index:-2;
}

#name_plate {
	
	/*float:right;*/
	/*margin-right: 120px;
	padding-left: 50px;*/
}

.img {
	border 2px solid black;
	padding: 3px;
	margin: auto;
	/*height: 185px;*/
}

.dog_name  {
	float: right;
	margin-right: 50px;
}
/*.female .dog_name {
	float: left;
}*/

.male, .female {
	width: 45%;
	margin: 10px;
	height:200px;
	/*border: 1px solid black;*/
}



.male {
background-color: lightblue;
float: left;
}

.female {
background-color: lightpink;
float: right;
}

.male .switched {
background-color: lightblue;
float: right;
}

.female .switched {
background-color: lightpink;
float: left;
}




